# Virtual Environment
.venv/

# Python Cache
__pycache__/
*.pyc

# Audio
*.mp3
*.wav

# VS Code
.vscode/

# Environment Variables
.env

# Audit Logs & Memory
renderer_audit.log
adb.zip
*.tmp
memory/*.tmp
